body{
    line-height: 1.5;
    font-size: 16px;
    display: inline-flex;
}
*{
    padding: 0;
    margin: 0;
    outline: none ;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
::before, ::after{
    box-sizing: border-box;
}

.main-content{
    display: block;
    position: relative;
    left: 219px;
    top: 0;
    right: 0;
    z-index: 0;
    opacity: 1;
    width: max-content;
    align-items: center;
    align-content: center;
}
.aside{
    width: 219px;
    background-color: rgb(2, 0, 7);
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px; 
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 10;

}
.aside .logo{
    color: white;
    top: 50px;
    font-size: 30px;
    letter-spacing: 1px;
    cursor: pointer;
} 
.aside .nav{
    margin-top: 120px;
}
.aside .nav li{
    margin-bottom: 20px;
    display: block;
    list-style: none;
    padding-left: 10px;
}
.aside .nav li a{
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid rgb(22, 4, 104);
    color: rgb(29, 29, 179);
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    padding: 5px 15px;
}
.main-content .hero{
    /*height: 100vh;*/
    background: #101010;
    padding-bottom: 20px;
}
.main-content .hero h4{
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.main-content .hero h1{
    padding-top: 0;
    padding-left: 50px;
}
.main-content .hero h3{
    padding-left: 50px;
}
.main-content .hero .newsletter{
    padding-left: 190px;
    padding-top: 0;
}
.main-content .hero p{
    color: white;
    padding-left: 50px;
}

span{
    color: rgb(29, 29, 179);
}
.aside .nav li a:hover{
    color: white;
    transition: .4s;
 }
 .aside .nav li a i{
    margin-right: 15px;
 }
 .hero .email-link{
    background-color: rgb(29, 29, 179);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
 }
 .hero .email-link:hover{
    background-color: transparent;
    border: 2px solid rgb(29, 29, 179);
    cursor: pointer;
 }
 .content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
 }
 h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
 }
 h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
 }
h4{
    color: rgb(112, 116, 117);
    letter-spacing: 2px;
    font-size: 20px;
}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}
.about img{
    height: auto;
    width: 430px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: rgba(70, 64, 153, 0.8);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
.about .row .personal-info{
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 10px;
    display: block;
    padding-left: 50px;
}
.about .row .skills{
    flex:0 0 40%;
    max-width: 40%;
    margin-top: 40px;
}
.about .row .personal-info .info-item{
    flex: 0 0 50%;
    max-width:50%;
}
.about .row .personal-info .info-item p{
    font-weight: 600;
    padding: 10px;
    font-size: 16px;
    color: white;
    border-bottom: 1px solid rgb(22, 4, 104);
}
.about .row .personal-info .info-item p span{
    font-weight: 400;
    margin-left: 4px;
    display: inline-block;
}
.about .row  .skills{
    padding-left: 100px;
}
.about .row  .skills .skill-item{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .row  .skills .skill-item h5{
  line-height: 40px;
  font-weight: 600;
  font-size: 16px;
  color: white;     
}
.about .row  .skills .skill-item .progress{
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;
} 
.about .row  .skills .skill-item{
    margin-bottom: 25px;
} 
.about .row  .skills .skill-item .progress .progress-in{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: rgb(29, 29, 179);
} 
.about .row  .skills .skill-item .skill-percent{
  position: absolute;
  right: 0;
  color: white;
  top: -40px;
  font-weight: 400; 
  line-height: 40px; 
}
.about h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    padding-left: 80px;
}
button{
    background-color: rgb(29, 29, 179);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background-color: transparent;
    border: 2px solid rgb(29, 29, 179);
    cursor: pointer;
}
.service{
    background: #101010;
    width: 100%;
    padding: 100px 0px;
}
/*projects*/
.project{
    background-color: #191919;
}
.project h2{
    padding-top: 0;
    color: white;
}
.project-heading h2{
    padding-bottom: 8px;
}
.row-images{
    justify-content: center;
    display: flex;
}
.project-item{
    padding-left: 30px;
}
.project-item img{
    border-radius: 30px;
}
.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;

}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}
.pra p{
    color: rgba(70, 64, 153, 0.8);
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.card .button{
    background-color: rgb(29, 29, 179);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
.contact-me{
    background: #101010;
    color: white;
}
.section-title h2{
    padding-top: 100px;
    padding-bottom: 30px;
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    padding-left: 350px;
    align-self: center;
}
.everything{
    text-align: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.everything p{
    font-size: 22px;
    line-height: 40px;
}
.project .container p{
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.everything .btn{
    background-color: rgb(29, 29, 179);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 2px 30px;
    border-radius: 30px;
    transition: .4s;
}
.everything .btn:hover{
    background-color: transparent;
    border: 2px solid rgb(29, 29, 179);
    cursor: pointer;
}
/*reponsive*/
@media only screen and (max-width: 700px) {
    .body{
        width: 100%;
        overflow: hidden;
    }
    .aside{
        display: none;
        width: 1px;
        right: 1;
    }
    .main-content{
        width: 100%;
        left: 0;
    }
    .main-content .hero{
        /*height: 100vh;*/
        background: #101010;
        padding-bottom: 10px;
    }
    .main-content .hero h4{
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .main-content .hero h1{
        padding-top: 0;
        padding-left: 20px;
    }
    .main-content .hero h3{
        padding-left: 20px;
    }
    .main-content .hero .newsletter{
        padding-left: 80px;
        padding-top: 0;
    }
    .main-content .hero p{
        color: white;
        padding-left: 20px;
    }
    .aside .nav li a i{
        margin-right: 7px;
     }
     .hero .email-link{
        background-color: rgb(29, 29, 179);
        color: white;
        text-decoration: none;
        border: 2px solid transparent;
        font-weight: bold;
        padding: 5px 10px;
        border-radius: 30px;
        transition: transform .4s;
     }
     h1{
        color: white;
        margin: 20px 0px 20px;
        font-size: 45px;
     }
     h3{
        color: white;
        font-size: 25px;
        margin-bottom: 25px;
     }
    h4{
        color: rgb(112, 116, 117);
        letter-spacing: 2px;
        font-size: 10px;
    }
    .about{
        width: 100%;
        padding: 2px 0px;
        background-color: #191919;
        display: block;
    }
    .about img{
        height: auto;
        width: 300px;
        margin-top: 20px;
    }
    .about h2{
        color: white;
        margin: 10px 0px 10px;
        font-size: 45px;
     }
     .about p{
        color: white;
        margin: 10px 0px 10px;
        font-size: 15px;
        width: 100%;
     }
    .main{
        width: 100%;
        display: block;
        float: none;
    }
    .service .title h2{
        display: none;
    }
    .box{
        width: 100%;
        display: block;
        float: none;
    }
    .about .row  .skills{
        padding-left: 20px;
        width: 100%;
    }
    .row-images{
        width: 100%;
        display: block;
        float: none;
    }
    .project {
        width: 100%;
        align-items: center;
        float: none;
    }
    .project .container .row .section-title h2{
        padding-left: 30px;
    }
    .project .container p{
        color: white;
        text-align: left;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .contact-me{
        align-items: center;
        padding-left: 0;
        text-align: left;
    }
    .section-title h2{
        padding-left: 30px;
        font-size: 45px;
        padding-top: 10px;
    }
    .everything{
        text-align: left;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }.everything .image{
        display: none;
    }

    
}
